
{% extends 'headers/logged_out_header.html' %}
{% block body %}
<body>
    <div class="container" id="login_container">
      <form class="form-signin" method="POST" action="/bitch/login">
        {{ form.hidden_tag()}}
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.user_name(autofocus=true, required=true, placeholder="Username", class_="form-control") }}
        {{ form.password(required=true, placeholder="password", class_="form-control") }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <a href="/bitch/register">or register here</a>
    </div>
</body>
{% endblock %}
