{% extends 'headers/layout.html' %}
{% block body %}

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav" align="center">
      <h4>{{ user.username }}</h4>
      <ul class="nav">
        {% if user.profilepicUrl %}
        <img src="{{ user.profilepicUrl }}" class="img-responsive img-circle margin" style="display:inline"  width="250" height="250">
        {% endif %}
      </ul><br>
      <div class="input-group">
        <!-- <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span> -->
      </div>
    </div>

    <div class="col-sm-5">
      {% if user.profilepicUrl %}
      <h2 align="center">Current Profile pic</h2>
      <div align="center">
          <img src="{{ user.profilepicUrl }}" width="200" height="200">
      </div>
      {% endif %}
      {% if not user.profilepicUrl %}
      <h2>Upload a Profile pic</h2>
      {% endif %}

      <form action = "/bitch/uploader" method = "POST"
         enctype = "multipart/form-data">
         {{ form.hidden_tag()}}
         <input type = "file" name = "file" />
         <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div>

  <script type= text/javascript>
</script>
{% endblock %}
