{% extends 'headers/layout.html' %}
{% from "headers/formRender.html" import render_field %}
{% block body %}


<div align="center" style="background-color: #425bbd;opacity: 0.9;">
  {% with messages = get_flashed_messages() %}
     {% if messages %}
        {% for message in messages %}
        <p style="color:red">
           {{ message }}
        </p>
        {% endfor %}
     {% endif %}
  {% endwith %}

    <h1>Hello {{ user.username }}!</h1>
    <div>
          <div style="float:left;background-color: #425bbd;opacity: 0.9; width:50%;height:300px">
          <h2>What color should your bitches be?</h2>
          <form action="/bitch/settings" method="POST">
            {{ form.hidden_tag()}}
            <div>
              {{ form.colorField(required=true, class_="form-control", value=user.color) }}
            </div>
            <div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            </div>
          </form>
          </div>
          <div style="float:right;background-color: #425bbd;opacity: 0.9;width:50%; height:300px">
          {% if user.profilepicUrl %}
          <div>
              <img src="{{ user.profilepicUrl }}" width="200" height="200">
          </div>
          {% endif %}
          {% if not user.profilepicUrl %}
          <h2>Upload a Profile pic</h2>
          {% endif %}
          <form action = "/bitch/uploader" method = "POST"
             enctype = "multipart/form-data">
             {{ form.hidden_tag()}}
             <input type = "file" name = "file" />
             <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
          </form>
          <div>
    <div>
<div>
  <script type= text/javascript>
</script>
{% endblock %}
